* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	background-color: rgba(0, 0, 0, 0.904);
}

.navbar_heading {
	margin-top: 0rem;
	font-size: 40px;
	color: white;
	animation-name: moveInleft;
	animation-duration: 2s;
}

.navbar_home {
	margin-left: 5rem;
	margin-top: 1rem;
	font-size: 20px;
	color: white;
	animation-name: moveInleft;
	animation-duration: 2s;
}
.navbar_home:hover {
	color: aqua;
}

.navbar_text {
	margin-left: 1rem;
	margin-top: 1rem;
	font-size: 20px;
	color: white;
	animation-name: moveInleft;
	animation-duration: 2s;
}
.navbar_text:hover {
	color: aqua;
}

.navbar_log {
	margin-bottom: 0;
	font-size: 20px;
	color: white;
	animation-name: moveInleft;
	animation-duration: 2s;
	padding-bottom: 0;
}
.navbar_log:hover {
	color: rgb(143, 142, 142);
}
.navbar_log_in {
	margin-right: 1rem;
}

.navbar-signup {
	margin-bottom: 0rem;
	margin-left: 0;
	margin-right: 2rem;
	font-size: 20px;
	padding-top: 0.2rem;
	animation-name: moveInleft;
	animation-duration: 2s;
}

button {
	margin-top: 2rem;
}
.logo-box {
	margin-left: 1rem;
	margin-right: 2rem;
	animation-name: fadeIn;
	animation-duration: 2s;
}

.logo {
	height: 30px;
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256, 256, 256, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container {
	background-color: rgb(0, 183, 255);
	padding: 1rem;
	border-radius: 0.25rem;
	font-weight: 600;
}

.btn {
	margin-top: 0;
}
.output {
	background-color: rgb(240, 232, 232);
	padding: 1rem;
	border-radius: 0.25rem;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(0);
	}
	50% {
		opacity: 0.5;
		transform: translate(0);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInleft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
